.intro{
    width: 100%;
    position: absolute;
    left: 0%;
}
.foto123{
    position: absolute;
    width: 100%;
    top: 66%;
    height: 40%;
    left: 0%;
}
header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
     z-index: 3;

    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px #4d4343;
}

header .logo {
    transition: 0.5s;

}

header .logo:hover {
  transform: scale(1.2);
  
}

header nav ul li {
  position: relative;
  float: left;
  z-index: 3;
}

header nav ul li a {
  padding: 15px;
  color: #A9224F;
  font-size: 16px;
  display: block;
}

header nav ul li a:hover {
  background: #FFEBF1;
  color: #A9224F;

}

nav ul li ul {
  position: absolute;
  left: 0;
  width: 180px;
  background: #fff;
  display: none;
}

nav ul li:hover > ul {
  display: initial;
}
.img1 {
    position: absolute;
    display: inline-block;
    z-index: 1;
    background: linear-gradient(to bottom, #5A3313, #D4C6AF);
    transition: transform .3s linear;
}

.img1:hover {
    transform: translateY(-10px) translateX(-10px);
    opacity: 15%;
    
}
ul, ol {
    list-style-type: none;
}
.img1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    transition: opacity 0.5s ease;
    opacity: 0; 
}
.img1:hover::before {
    opacity: 1; /* значение прозрачности при наведении */
}
.img2:hover {
    transform: translateY(-10px) translateX(-10px);
    opacity: 15%;
    
}
.img2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    transition: opacity 0.5s ease;
    opacity: 0; 
}
.img2:hover::before {
    opacity: 1; /* значение прозрачности при наведении */
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #5A3313, #D4C6AF);
    z-index: 0;
    opacity: 10;
    transition: opacity 0.5s ease;
}
.img3:hover {
    transform: translateY(-10px) translateX(-10px);
    opacity: 0.15; /* изменено значение */
}

.img3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    transition: opacity 0.5s ease;
    opacity: 0;
}

.img3:hover::before {
    opacity: 1; /* значение прозрачности при наведении */
}

.img01{
    background-color: #5A3313;
    position: absolute;
    width: 16.1%;
    z-index: 0;
    left: 20%;
    height: 78%;

}
.img03 {
    background-color: #5A3313;
    position: absolute;
    width: 16.1%;
    z-index: 0;
    left: 60%;
    top: 0%;
    height: 78%;

}
.img02{
    background-color: #5A3313;
    position: absolute;
    width: 16.1%;
    z-index: 0;
    left: 40%;
    top: 0%;
    height: 78%;

}
.overlay1{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #5A3313, #D4C6AF);
    z-index: 1;
    opacity: 10;
    transition: opacity 0.5s ease;
}
.overlay2 {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #5A3313, #D4C6AF);
    z-index: 1;
    opacity: 10;
    transition: opacity 0.5s ease;
}


.foto123:hover .overlay {
    opacity: 1;
}


.img2{
    transition: transform .3s linear;
    position: absolute;
    z-index: 2;
   
    
}
.img3{
    position: absolute;
    display: inline-block;
    z-index: 1;
    background: linear-gradient(to bottom, #5A3313, #D4C6AF);
    transition: transform .3s linear;
}
.sholat{
    position: absolute;
    width: 100%;
    top: 0%;
    height: 110%;
    left: 0%;

}
.sholat0{
    position: absolute;
    width: 100%;
    top: 100%;
    height: 90%;
    left: 0%;

}
.podari{
    position: absolute;
    width: 100%;
    top: 199%;
    height: 80%;
    left: 0%;



}





#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 170px !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 85%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: none;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: none;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 50px 60px;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: none;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    font-size: 25px;
  }


















p{
    color: #fff;
    font-family: "Shantell Sans", cursive;
    position: absolute;
}
.info0{
    left: 5%;
    font-family: 'Shantell Sans', cursive;
    top: 2%;
    font-size: 220%;
}
.info1{
    font-family: 'Marmelad', sans-serif;
    left: 6%;
    top: 6%;
    font-size: 350%;
    font-weight: bolder;
}
.tort0{
    position: absolute;
    top: 35%;
    left: 23%;
}
.tort1{
    position: absolute;
    top: 35%;
    left: 60%;
}
.help{
    top: 90%;
    left: 75%;
    font-size: 160%;
}
.podarok{
    color: rgb(90, 51, 19);
    font-size: 450%;
    left: 45%;
    font-weight: bold;
}
.podarok0{
    position: absolute;
    top: 60%;
    left: 15%;

}
.podarok1{
    position: absolute;
    top: 60%;
    left: 55%;

}
.lore{
    position: absolute;
    width: 100%;
    top: 320%;
    height: 80%;
    left: 0%;


}
.info0podarok{
    color: rgb(90, 51, 19);
    font-size: 200%;
    left: 18%;
    top: 100%;
    font-family: 'Marmelad', sans-serif;

}
.info1podarok{
    color: rgb(90, 51, 19);
    font-size: 200%;
    left: 59%;
    font-family: 'Marmelad', sans-serif;
    top: 100%;

}
.nomer1{
    position: absolute;
    color: rgb(90, 51, 19);
    font-size: 240%;
    left: 65%;
    top: 130%;
    font-weight: bold;
}
.telegram{
   
    position: absolute;
    width: 10%;
    height: 100%;
}
.wassap{
    left: 110%;
    position: absolute;
    width: 10%;
    top: -5%;
    height: 100%;

}
.lizaaa{
    position: absolute;
    left: 60%;
    width:25%;
    top: 15%;
}
.onas{
    color: #5A3313;
    font-size: 300%;
    left: 15%;
    font-weight: bold;
}
.info2{
    color: #5A3313;
    font-size: 150%;
    left: 15%;
    font-family: 'Marmelad', sans-serif;
    width: 35%;
    font-weight: bold;
    top: 20%;
    
}
.textimg0{
    font-size: 25px;
  
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  
    text-align: center;
    position: absolute;
    top: 50%;
    left: 32%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}
.textimg1{
    font-size: 25px;
  
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}
.textimg2{
    font-size: 25px;
  
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;

}
.about-text {
    width: 100%;
  
    font-size: 25px;
  
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    opacity: 0;
    transition: opacity .2s linear;
  
  
  }
.podpis{
    position: absolute;
    top:40%;
    left: 25%;
}
@media (max-width:1600px) {
    .img1{
        width: 100%;
        top: 0%;
        height: 100%;
    }
    .img2{
        width: 100%;
        top: 0%;
        height: 100%;
       
    }
    .img3{
        width: 100%;
        top: 0%;
        height: 100%;
    }
    .help{
        top: 98%;
    }
    .nomer1{
        left: 60%;
    }
    .info0podarok{
        top: 110%;
    }
    .info1podarok{
        top: 110%;
    }
    .podpis{
        width: 13%;
        top: 50%;
        left: 30%;
    }
    
}
@media (max-width:1400px) {
    .podpis{
        top:60%;
        left:35%;
    }
    .nomer1{
        left: 50%;
    }
    .overlay{
        height: 100%;
    }
    .img01{
        height: 75%;
    }
    .img1{
        height: 100%;
    }
    .img2{
        height: 100%;
       
    }
    .img3{
        height: 100%;
        
        
    }
    .img03{
       width: 19%; 
       left: 65%; 
    }
    .img02{
        width: 19%;  
        left: 40%;  
     }
     .img01{
        width: 19%;
        left: 15%;  
     }
    .help{
        top: 95%;
        left: 70%;
    }
    .podarok0{
        width: 25%;
    }
    .info0podarok{
        top: 100%;
        font-size: 180%;
        left: 16%;
    }
    .info1podarok{
        top: 100%;
        font-size: 180%;
        left: 63%;

    }
    .podarok1{
        left: 60%;
        width: 25%;
    }
    .tort1{
        width: 22%;

    }
    .tort0{
        width: 22%;

    }

}
@media (max-width:1100px) {
    .nomer1{
        font-size: 200%;
        left: 40%;
    }
    .help{
        left: 60%;
        top: 90%;
    }
    .textimg0{
        left: 25%;

    }
    .textimg1{
        left: 20%;

    }
    .textimg2{
        left: 25%;

    }
    .img01{
        width: 22%;
        top: -25%;

    }
    header nav ul li a {
        font-size: 12px ;
        padding: 13px;

      
    }
    .img02{
        width: 22%;
        top: -25%;

    }
    .img03{
        width: 22%;
        top: -25%;

    }
    .podpis{
        top:70%;
    }

}
@media (max-width:900px) {

    .img01{
        width: 25%;
        left: 8%;
    }
    .img02{
        width: 25%;

    }
    .img03{
        width: 25%;
        left: 70%;

    }
    .podarok{
        left: 40%;
    }
    .podarok1{
        width: 30%;
    }
    .podarok0{
        width: 30%;
    }
    .info0podarok{
        font-size: 150%;
        top: 90%;
    }
    .info1podarok{
        font-size: 150%;
        top: 90%;
    }
    header nav ul li a {
        font-size: 13px ;
        padding: 10px;
        text-align: left;
      
      }
    .onas{
        font-size: 250%;
        top: -10%;
    }
    .info2{
        font-size: 120%;
    }
    .lizaaa{
        width: 35%;
    }
    .podpis{
        width: 15%;
        top: 65%;
    }
    .nomer1{
        left: 40%;
        font-size: 170%;
    }
    .help{
        left: 60%;
        font-size: 130%;
    }
    .tort0{
        width:28%;
        left: 15%;
    }
    .tort1{
        width:28%;
    }

}
@media (max-width:706px) {
    .textimg0{
        left: 25%;
        font-size: 20px;

    }
    .textimg1{
        left: 20%;
        font-size: 20px;

    }
    .textimg2{
        left: 25%;
        font-size: 20px;

    }
    .info1{
        font-size: 250%;
    }
    .info0{
        font-size: 150%;
    }
    .help{
        top: 80%;
        left: 55%;
    }
    .img01{
        height: 50%;
        top: -10%;

    }
    header nav ul li a {
        font-size: 10px;
      }
    .img02{
        height: 50%;
        top: -10%;

    }
    .img03{
        height: 50%;
        top: -10%;

    }
    .foto123{
        top: 40%;
    }
    .sholat0{
        top: 60%;
    }
    .podari{
        top: 160%;
    }
    .podarok{
        left: 34%;
    }
    .info0podarok{
        left: 16%;
        top: 85%;
        font-size: 110%;
    }
    .info1podarok{
        left: 63%;
        top: 85%;
        font-size: 110%;
    }
    .lore{
        top: 280%;
    }
    .info2{
        font-size: 100%;
        top: 15%;
    }
    .podpis{
        top: 55%;
    }
    .nomer1{
        top:110% ;
        font-size: 150%;
        left: 35%;
    }

}
@media (max-width:560px) {
    .textimg0{
        left: 25%;
        font-size: 17px;

    }
    .textimg1{
        left: 15%;
        font-size: 17px;

    }
    .textimg2{
        left: 25%;
        font-size: 17px;
    }
    
    .info1{
        font-size: 180%;
    }
    .info0{
        font-size: 120%;
    }
    .tort1{
        width: 35%;
    }
    .tort0{
        width: 35%;
        left:5%;
    }
    .help{
        left: 40%;
        font-size: 1;
    }
    .info2{
        font-size: 80%;
    }
    .podpis{
        top: 50%;
    }
    .nomer1{
        font-size: 120%;
    }
    header nav ul li a {
        font-size: 9px;
        padding: 5px;
      }
      header{
        width: 120%;
        left: -30%;
        height: 5%;
    }
    .logo{
        position: absolute;
        left: 22%;
    }
    nav{
        padding-left:32%;
    }
    .podarok0{
        width: 40%;
        left: 5%;
    }
    .podarok1{
        width: 40%;
        left: 60%;
    }
    .info0podarok{
        font-size: 90%;
        left: 10%;
    }
    .info1podarok{
        font-size: 90%;
        left: 65%;
    }
}

@media (max-width:450px) {
    #odin {
        position: absolute;
        top: 0%;
        width: 77%;
        left: 0%;
        
    }
    .img01{
        height: 45%;
        width: 30%;
        top: -40%;
        left: 1%;

    }
    .img02{
        height: 45%;
        width: 30%;
        left: 34.5%;
        top: -40%;}
    .img03{
            height: 45%;
            width: 30%;
            left: 68%;
            top: -40%;}    

    #dva {
        position: absolute;
        top: 50%;
        width: 77%;
        left: 0%;


    }
    .submenu__box {
        display: none;
        position: absolute;
        height: 10%;
        top: 7%;
        width:30%;
        left: -27%;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        z-index: 1;
  
        
    } 
    #odin:hover{
        font-size: 23px;
        background-color: #A9224F;
    }
    #dva:hover{
        font-size: 23px;
        background-color: #A9224F;
    }
    

    .submenu:hover .submenu__box {
        display: block;

    }
    
    .submenu__item {
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    
    .submenu__box:hover {
        font-size: 25px;
    }
    












    .podpis{
        width: 100%;
        left: -40%;
        top: 0% !important;

    }
    #tri{
        position: absolute;
        top: 67%;
        width: 77%;
        left: 0%;

    }
    #odin2 {
        position: absolute;
        top: 2%;
        width: 85%;
        left: -2%;
        font-size:18px !important;
         
        
    }

    #dva2 {
        position: absolute;
        top: 35%;
        width: 77%;
        left: 0%;
        
       


    }
    .submenu__box2 {
        display: none;
        position: absolute;
        height: 15%;
        top: 7%;
        width:30%;
        left: -27%;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        z-index: 1;
  
        
    } 
    #tri:hover {
        font-size: 23px ;
        background-color: #A9224F;
      }
    #odin2:hover {
        font-size: 23px !important;
        width: 120%;
      }
    #dva2:hover{
        font-size: 23px;
        background-color: #A9224F;
    }
    

    .submenu2:hover .submenu__box2 {
        display: block;

    }
    
    .submenu__item2 {
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    
    .submenu__box2:hover {
        font-size: 25px;
    }













    .bl{
        display: none;
    }
    .menu__item {
        display: block;
    }
    .menu__box{
        display: block;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
    }
    .podarok{
        font-size: 300%;
    }
    .help{
        font-size: 100%;
        left: 40%;
    }
    .nomer1{
        font-size: 100%;
        left: 25%;
    }
    .info2{
        font-size: 70%;
    }
    .podpis{
        top: 45%;
    }
    .textimg0{
        left: 25%;
        font-size: 13px;

    }
    .textimg1{
        left: 15%;
        font-size: 13px;

    }
    .textimg2{
        left: 25%;
        font-size: 13px;
    }
    header nav ul li a {
        font-size: 8px;
        padding: 5px;
        
      }
    nav{
        padding-left:32%;
        font-size:5px;
    }

    header{
        width: 120%;
        left: -30%;
        height: 5%;
       
    }
    .logo{
        position: absolute;
        
    }
    .podarok0{
        width: 50%;
        top: 30%;
        left: 25%;
    }
    .info0podarok{
        top: 55%;
        left: 35%;
    }
    .podarok1{
        width: 50%;
        top: 65%;
        left: 25%;
    }
    .info1podarok{
        top: 90%;
        left: 35%;
    }

}

@media (max-width:370px) {
    .textimg0{
        left: 25%;
        font-size: 10px;

    }
    nav{
        padding-left:30%;
        font-size: 9px;
    }
    header{
        width: 140%;
        left: -30%;
        height: 5%;
    }
    .textimg1{
        left: 15%;
        font-size: 10px;

    }
    .logo{
        position: absolute;
        left: 20%;
        
    }
    .textimg2{
        left: 25%;
        font-size: 10px;
    }
    .foto123{
        top: 27%;
    }
    .sholat0{
        top: 40%;
        height: 50%;
    }
    .info1{
        font-size: 120%;
        left: 10%;
    }
    .info0{
        font-size: 90%;
    }
    .help{
        left: 30%;
    }
    .podari{
        top: 100%;
    }
    .lore{
        top: 200%;
    }
    .info2{
        font-size: 60%;
    }
    .onas{
        font-size: 180%;
        top: 1%;
    }
    .info0podarok{
        left: 28%;
    }
    .info1podarok{
        left: 30%;
    }
    .nomer1{
        left: 20%;
    }
    .podarok{
        left: 25%;
    }
    .img01{
        height: 35%;
        top: -20%;
        width: 28%;
        left: 3%;

    }
    .img02{
        height: 35%;
        top: -20%;
        width: 28%;
        left: 35%;

    }
    .img03{
        height: 35%;
        top: -20%;
        width: 28%;
        left: 67%;

    }


}